$white: white;
$grey: #D0D0D0;
$dark: #090E15;
$purple: #171F2F;
$purple_dark: #0D141E;
$blue: #00E0FF;
$blue_hover: #00B8D1;
$green: #2ECC71;
$green_dark: #1ABC9C;
$red: #E74C3C;
$orange: #E67E22;
$yellow: #F1C40F;
$purple2: #5662F6;
$asphalt: #34495E;