*{
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;

    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

html, body{
    margin: 0px;
    padding: 0px;

    height: 100%;
}
